body{
	background-color: rgba(114, 202, 196, 0.44);
	background-image: url(assets/img/lrx_background@2x.png);
    background-size: 800px 600px;
    background-attachment: fixed;
    background-position: center;
}

.main-footer{
	background: #fff;
}

.card-header-form{
	display: flex;
}

.img-solicitation{
	padding:5px;
	border:1px solid #ccc;
	margin:10px 0;
}
.img-solicitation img{
	width: 50%;
	margin: 0 auto;
}

.button-login-footer{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
	background: #fff;
	border-top: 2px solid #27736d;
}
.footer ul, ol, dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
    display: list-item;
	text-align: -webkit-match-parent;
}

.footer-copyright{
	background: #14403e;
}

.footer-copyright p{
	margin: 0;
	color: #fff;
}

.footer-copyright p a{
	color: #c1e7e5;
}

.footer-logo ol.flat-list{
	display: flex;
	align-items: center;
}

.footer-logo ol.flat-list i{
	font-size: 14px;
	margin: 0;
}

.footer-logo ol.flat-list li{
	margin-right: 10px;
}

.footer-logo ol.flat-list li a {
    display: block;
    height: 33px;
    width: 33px;
    line-height: 33px;
    background: #f3f3f3;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 7px 0px rgba(133, 133, 133, 0.35);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(133, 133, 133, 0.35);
    -moz-box-shadow: 0px 0px 7px 0px rgba(133, 133, 133, 0.35);
    -o-box-shadow: 0px 0px 7px 0px rgba(133, 133, 133, 0.35);
}
.footer-widget-item ul{
	margin-left: 10px
}

.footer-widget-item img:first-child{
	margin-top: 20px;
}

.footer-widget-item img{
	margin-bottom: 20px;
}

.btn{
	font-size: 14px;
}

.rotation{
	 transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


/*.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #41b6ad !important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #007bff;
}
.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}
*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes rotating {
	from {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  .rotating {
	-webkit-animation: rotating 1.5s linear infinite;
	-moz-animation: rotating 1.5s linear infinite;
	-ms-animation: rotating 1.5s linear infinite;
	-o-animation: rotating 1.5s linear infinite;
	animation: rotating 1.5s linear infinite;
  }

@media (min-width: 1200px){
	.container {
    	max-width: 1250px;
	}
}