body{
	background-color: rgba(114, 202, 196, 0.44);
	background-image: url(assets/img/lrx_background@2x.png);
    background-size: 800px 600px;
    background-attachment: fixed;
    background-position: center;
}

.main-footer{
	background: #fff;
}

.card-header-form{
	display: flex;
}

.img-solicitation{
	padding:5px;
	border:1px solid #ccc;
	margin:10px 0;
}
.img-solicitation img{
	width: 50%;
	margin: 0 auto;
}

.button-login-footer{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer{
	background: #fff;
	border-top: 2px solid #27736d;
}
.footer ul, ol, dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
    display: list-item;
	text-align: -webkit-match-parent;
}

.footer-copyright{
	background: #14403e;
}

.footer-copyright p{
	margin: 0;
	color: #fff;
}

.footer-copyright p a{
	color: #c1e7e5;
}

.footer-logo ol.flat-list{
	display: flex;
	align-items: center;
}

.footer-logo ol.flat-list i{
	font-size: 14px;
	margin: 0;
}

.footer-logo ol.flat-list li{
	margin-right: 10px;
}

.footer-logo ol.flat-list li a {
    display: block;
    height: 33px;
    width: 33px;
    line-height: 33px;
    background: #f3f3f3;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 7px 0px rgba(133, 133, 133, 0.35);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(133, 133, 133, 0.35);
    -moz-box-shadow: 0px 0px 7px 0px rgba(133, 133, 133, 0.35);
    -o-box-shadow: 0px 0px 7px 0px rgba(133, 133, 133, 0.35);
}
.footer-widget-item ul{
	margin-left: 10px
}

.footer-widget-item img:first-child{
	margin-top: 20px;
}

.footer-widget-item img{
	margin-bottom: 20px;
}

.btn{
	font-size: 14px;
}

.rotation{
	 transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  @keyframes rotating {
	from {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }
  .rotating {
	-webkit-animation: rotating 1.5s linear infinite;
	-moz-animation: rotating 1.5s linear infinite;
	-ms-animation: rotating 1.5s linear infinite;
	-o-animation: rotating 1.5s linear infinite;
	animation: rotating 1.5s linear infinite;
  }

@media (min-width: 1200px){
	.container {
    	max-width: 1250px;
	}
}